a {
  color: #3B5998;
  text-decoration: none;
}

#header, #footer {
  text-align: center;
}

#header a {
  color: orange;
}

#footer {
  width: 100%;
  padding: 10px 40px;  /* 40px = padding of #csc */
}

#csc {
  color: #FFFFFF;
}

.error {
  color: orange;
}
