- import comy.action._

form(data-postback="submit" action={url[AdminDoLogin]})
  #error

  label= t("Username")
  input(type="text" name="username" class="required")
  br

  input(type="submit" value={t("Password »")})
