SERVER_PORT = 8888
# Comma-separated. ALLOWED_IPS = * to allow all IPs
SERVER_ALLOWED_IPS = *

DB_HOST            = localhost
DB_PORT            = 9160
DB_KEYSPACE        = comy
DB_EXPIRATION_DAYS = 90
