SERVER_PORT = 8888
# Comma-separated. ALLOWED_IPS = * to allow all IPs
ALLOWED_IPS = *

DB_HOST            = localhost
DB_PORT            = 9160
DB_DB              = comy
DB_EXPIRATION_DAYS = 90

LOG_PATH = /home/lantra/example.log