SERVER_PORT = 8364

# IPs are comma-separated, * to allow any

# IPs allowed to send POST request to /api/xxx
API_IPS = *

# IPs allowed to accesss /admin/xxx
ADMIN_IPS = *

LOG_FILE = comy.log

DB_NAME                 = comy
DB_CONNECTIONS_PER_HOST = 100

# URLs that have not been accessed within this number of days will be removed
DB_EXPIRATION_DAYS = 90

# Replica set is supported
DB_ADDRS = localhost:27017, localhost:27017, localhost:27017
