SERVER_PORT = 8888
# Comma-separated list of IPs to be allowed to send POST request to /api
# API_ALLOWED_IPS = * to allow all IPs
API_ALLOWED_IPS = *

LOG_FILE = comy.log

DB_NAME                 = comy
DB_CONNECTIONS_PER_HOST = 100
DB_EXPIRATION_DAYS      = 90

DB_HOST_LEFT  = localhost
DB_PORT_LEFT  = 27017
DB_HOST_RIGHT = localhost
DB_PORT_RIGHT = 27017
